// Variables


// Breakpoints

$media-xs: 400px;
$media-sm: 600px;
$media-md: 800px;
$media-lg: 1000px;
$media-xl: 1200px;


// Colors

$black: #181818;
$white: #ffffff;
$grey: #767676;
$grey-light: #EAEBEF;
$yellow: #d89000;
$red: #C90000;
$pink-light: #FFF2F2;
$blue: #0000ff;

$green-spotify: #28C906;


// Spacing

$space: 12px;


// Typography

$font-body: "Archivo", Helvetica, Arial, sans-serif;
$font-mono: "Courier New", "Courier", monospace;
