// Variables


// Breakpoints

$media-xs: 400px;
$media-sm: 600px;
$media-md: 800px;
$media-lg: 1000px;
$media-xl: 1200px;


// Colors

$black: #181818;
$accent: #0000ff;
$white: #ffffff;
$grey: #a3a3a3;
$yellow: #d89000;
$red: red;
$blue: blue;

$green-spotify: #28C906;


// Spacing

$space: 12px;


// Typography

$font-body: "Courier New", "Courier", monospace;
