<p class="mt-xs-2 mt-md-4"><strong>Contact</strong></p>
<ul class="list-unstyled list-inline-sm-down mb-xs-4">
    <li>
        <a href="Ronin_wood_resume_2017.pdf" target="_blank">Resume</a>
    </li>
    <li>
        <a href="http://www.timespent.biz" target="_blank">TIMESPENT</a>
    </li>
    <li>
        <a href="http://www.twitter.com/roninwood" target="_blank">Twitter</a>
    </li>
    <li>
        <a href="https://dribbble.com/RoninWood" target="_blank">Dribbble</a>
    </li>
    <li>
        <a href="assets/img/buzz.gif" target="_blank">Google Buzz</a>
    </li>
    <li>
        <a href="mailto:roninwood@gmail.com?subject=Ronin I think your work is very very good">Email</a>
    </li>
</ul>