<div class="col-group">
    <div class="col col-xs-12 text-center mt-xs-4 mb-xs-4">
        <ul class="list-unstyled text-uppercase mb-xs-4">
            <li class="display-inline-block pr-xs-2 mr-xs-1 b-r b-grey">
                <a href="Ronin_wood_resume_2017.pdf" target="_blank">Resume</a>
            </li>
            <li class="display-inline-block pr-xs-2 mr-xs-1 b-r b-grey">
                <a href="http://www.timespent.biz" target="_blank">TimeSpent</a>
            </li>
            <li class="display-inline-block pr-xs-2 mr-xs-1 b-r b-grey">
                <a href=" http://etsy.me/2fqLorc" target="_blank">Etsy Shop</a>
            </li>
            <li class="display-inline-block pr-xs-2 mr-xs-1 b-r b-grey">
                <a href="http://www.twitter.com/roninwood" target="_blank">Twitter</a>
            </li>
            <li class="display-inline-block pr-xs-2 mr-xs-1 b-r b-grey">
                <a href="https://dribbble.com/RoninWood" target="_blank">dribbble</a>
            </li>
            <li class="display-inline-block">
                <a href="assets/img/buzz.gif" target="_blank">Google Buzz</a>
            </li>
        </ul>
        <p class="mb-xs-4 text-uppercase"><a href="mailto:roninwood@gmail.com?subject=Ronin I think your work is very very good">roninwood@gmail.com</a></p>
        <p class="mb-xs-4">2018</p>
    </div>
</div>