<!doctype html>
<html>
    <head>
	    <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <meta name="description" content="Welcome to the Rone Zone&trade; &copy;">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta property="og:url" content="http://www.roninwood.com" />
        <meta property="og:description" content="Welcome to the Rone Zone&trade; &copy;" />

        {% if page.url contains 'posts' %}
            <title>{{ page.title }} | RONIN</title>
            <meta property="og:title" content="{{ page.title }} | RONIN" />
        {% else %}
            <title>RONIN</title>
            <meta property="og:title" content="RONIN" />
        {% endif %}

        {% if page.share_image %}
            <meta property="og:image" content="http://www.roninwood.com{{ page.share_image }}" />
            <meta property="twitter:image" content="http://www.roninwood.com{{ page.share_image }}" />
        {% else %}
            <meta property="og:image" content="http://www.roninwood.com/assets/img/ronin_thumbnail.png" />
            <meta property="twitter:image" content="http://www.roninwood.com/assets/img/ronin_thumbnail.png" />
        {% endif %}

        <link rel="stylesheet" type="text/css" href="/assets/base.css">
        <link rel="icon" type="image/png" href="http://roninwood.com/uploads/favicon_16_16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="http://roninwood.com/uploads/favicon_32_32.png" sizes="32x32">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Archivo&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap" rel="stylesheet"> 

        <script>
            var animateHTML = function () {
                var elems,
                    windowHeight
                var init = function () {
                    elems = document.getElementsByClassName('js-fade-in')
                    windowHeight = window.innerHeight
                    _addEventHandlers()
                }
                var _addEventHandlers = function () {
                    window.addEventListener('scroll', _checkPosition)
                    window.addEventListener('resize', init)
                }
                var _checkPosition = function () {
                    for (var i = 0; i < elems.length; i++) {
                        var posFromTop = elems[i].getBoundingClientRect().top
                        if (posFromTop - windowHeight <= 0) {
                            elems[i].className = elems[i].className.replace('js-fade-in', 'animated-fade-in')
                        }
                    }
                }
                return {
                    init: init
                }
            }
            animateHTML().init()
        </script>

    </head>