<!doctype html>
<html>
    <head>
	    <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>RONIN</title>
        <meta name="description" content="Welcome to the Rone Zone&trade; &copy;">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta property="og:url" content="http://www.roninwood.com" />
        <meta property="og:title" content="RONIN" />
        <meta property="og:description" content="Welcome to the Rone Zone&trade; &copy;" />
        <meta property="og:image" content="http://www.roninwood.com/assets/img/ronin_thumbnail.png" />

        <link rel="stylesheet" type="text/css" href="/assets/base.css">

        <script>
            var animateHTML = function () {
                var elems,
                    windowHeight
                var init = function () {
                    elems = document.getElementsByClassName('js-fade-in')
                    windowHeight = window.innerHeight
                    _addEventHandlers()
                }
                var _addEventHandlers = function () {
                    window.addEventListener('scroll', _checkPosition)
                    window.addEventListener('resize', init)
                }
                var _checkPosition = function () {
                    for (var i = 0; i < elems.length; i++) {
                        var posFromTop = elems[i].getBoundingClientRect().top
                        if (posFromTop - windowHeight <= 0) {
                            elems[i].className = elems[i].className.replace('js-fade-in', 'animated-fade-in')
                        }
                    }
                }
                return {
                    init: init
                }
            }
            animateHTML().init()
        </script>

    </head>