{% assign post = include.post %}

<div class="post-body animated js-fade-in">
	
	{{ post.content }}

	<div class="text-left">
		{{post.title}}
	</div>
	<div class="text-left text-smaller">
		{% for category in post.categories %}
			<a href="/categories/{{ category | slugify }}" class="text-grey">{{ category }}</a>
		{% endfor %}
	</div>
	<div class="text-left text-smaller">
		{% for tag in post.tags %}
			<a href="/tags/{{ tag | slugify }}" class="text-grey mr-xs-1">{{ tag }}</a>
		{% endfor %}
	</div>

</div>