{% assign post = include.post %}

<div class="post-body mb-xs-4">
	
	{{ post.content }}

	<div class="text-body mt-xs-2 mb-xs-1">
		{{post.title}}
	</div>
	<ul class="list-unstyled list-inline text-accent">
		{% for category in post.categories %}
			<li class="mr-xs-2 mb-xs-1"><a href="/categories/{{ category | slugify }}" class="link-grey">{{ category }}</a></li>
		{% endfor %}
		{% for tag in post.tags %}
			<li class="mr-xs-2 mb-xs-1"><a href="/tags/{{ tag | slugify }}" class="link-grey">{{ tag }}</a></li>
		{% endfor %}
	</ul>

</div>