

<p class="mt-xs-2 mt-md-4"><strong>View by company</strong></p>
<ul class="list-unstyled list-inline-sm-down">
    {% for category in site.categories %}
        <li>
            <a href="{{category.url}}" class="{% if category.alias == page.alias %}strong text-accent {% endif%}">
                {{ category.alias }}
            </a>
        </li>
    {% endfor %}
</ul>

<p class="mt-xs-2 mt-md-4 display-xs-none display-sm-block"><strong>View by tag</strong></p>
<ul class="list-unstyled list-inline-sm-down display-xs-none display-sm-block">
    {% for tag in site.tags %}
        <li>
            <a href="{{tag.url}}" class="{% if tag.alias == page.alias %}strong text-accent {% endif%}">
                {{ tag.alias }}
            </a>
        </li>
    {% endfor %}
</ul>