<div class="max-width-xl ml-xs-auto mr-xs-auto pl-xs-3 pr-xs-3 pl-md-6 pr-md-6 mt-xs-4 mt-md-6 mb-xs-4 mb-md-6">
    <div class="mb-xs-2">
        <ul class="list-unstyled list-inline text-body text-red">
            <li class="mr-xs-1"><h2 class="text-body text-strong">Sort by company -</h2></li>
            <li class="mr-xs-1"><a href="/categories/celtra" class="link-red {% if page.alias == 'Celtra' %}link-selected{% endif%}">Celtra</a>, </li>
            <li class="mr-xs-1"><a href="/categories/starry" class="link-red {% if page.alias == 'Starry' %}link-selected{% endif%}">Starry</a>, </li>
            <li class="mr-xs-1"><a href="/categories/politics" class="link-red {% if page.alias == 'Politics' %}link-selected{% endif%}">Politics</a>, </li>
            <li class="mr-xs-1"><a href="/categories/jukely" class="link-red {% if page.alias == 'Jukely' %}link-selected{% endif%}">Jukely</a>, </li>
            <li class="mr-xs-1"><a href="/categories/book-of-the-month" class="link-red {% if page.alias == 'Book of the Month' %}link-selected{% endif%}">Book of the Month</a>, </li>
            <li class="mr-xs-1"><a href="/categories/sleep-no-more" class="link-red {% if page.alias == 'Sleep No More' %}link-selected{% endif%}">Sleep No More</a>, </li>
            <li class="mr-xs-1"><a href="/categories/time-spent" class="link-red {% if page.alias == 'Time Spent' %}link-selected{% endif%}">Time Spent</a>, </li>
            <li class="mr-xs-1"><a href="/categories/personal" class="link-red {% if page.alias == 'Personal' %}link-selected{% endif%}">Personal</a>, </li>
            <li><a href="/categories/freelance" class="link-red {% if page.alias == 'Freelance' %}link-selected{% endif%}">Freelance</a></li>
        </ul>
    </div>
    <div class="b-b b-red pb-xs-5">
        <ul class="list-unstyled list-inline text-body text-red">
            <li class="mr-xs-1"><h2 class="text-body text-strong">Sort by tag -</h2></li>
            <li class="mr-xs-1"><a href="/tags/case-study" class="link-red {% if page.alias == 'Case study' %}link-selected {% endif%}">Case study</a>, </li>
            <li class="mr-xs-1"><a href="/tags/print" class="link-red {% if page.alias == 'Print' %}link-selected {% endif%}">Print</a>, </li>
            <li class="mr-xs-1"><a href="/tags/swag" class="link-red {% if page.alias == 'Swag' %}link-selected{% endif%}">Swag</a>, </li>
            <li class="mr-xs-1"><a href="/tags/social" class="link-red {% if page.alias == 'Social' %}link-selected{% endif%}">Social</a>, </li>
            <li class="mr-xs-1"><a href="/tags/animation" class="link-red {% if page.alias == 'Animation' %}link-selected{% endif%}">Animation</a>, </li>
            <li class="mr-xs-1"><a href="/tags/posters" class="link-red {% if page.alias == 'Posters' %}link-selected{% endif%}">Posters</a>, </li>
            <li class="mr-xs-1"><a href="/tags/digital" class="link-red {% if page.alias == 'Digital' %}link-selected{% endif%}">Digital</a>, </li>
            <li class="mr-xs-1"><a href="/tags/web" class="link-red {% if page.alias == 'Web' %}link-selected{% endif%}">Web</a>, </li>
            <li class="mr-xs-1"><a href="/tags/music" class="link-red {% if page.alias == 'Music' %}link-selected{% endif%}">Music</a>, </li>
            <li class="mr-xs-1"><a href="/tags/photography" class="link-red {% if page.alias == 'Photography' %}link-selected{% endif%}">Photography</a>, </li>
            <li class="mr-xs-1"><a href="/tags/video" class="link-red {% if page.alias == 'Video' %}link-selected{% endif%}">Video</a>, </li>
            <li class="mr-xs-1"><a href="/tags/album-covers" class="link-red {% if page.alias == 'Album covers' %}link-selected{% endif%}">Album covers</a></li>
        </ul>
    </div>
</div>