@-webkit-keyframes rotate {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@-moz-keyframes rotate {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@-ms-keyframes rotate {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes rotate {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


@keyframes blink {
    from {color: red;}
    to {color: blue;}
}


.animated {
    animation-duration: 0.7s;
    animation-fill-mode: both;
}

.transition-300 {
    transition-duration: 300ms;
}

.animated-loop {
    animation-iteration-count: infinite;
}


.animated-rotate {
    animation-name: rotate;
}

.animated-blink {
    color: red;
    
    @include show-animation {
        animation-name: blink;
        animation-duration: 1s;
        animation-fill-mode: both;
    }
}

.transition-stretch {
    transform: scale(1.8, .5) skewY(20deg);
}

