//////////////////////////

// Buttons

//////////////////////////

.btn {
  border: 0;
  border-radius: 6px;
  display: inline-block;
  font-family: $font-body;
  font-size: 16px;
  font-weight: bold;
  padding: 16px 36px;
  text-decoration: none;
  -webkit-appearance: none;
}

.btn-pill {
  border-radius: 30px;
}


// Black button

.btn-black {
  background-color: $black;
  color: $white;
  
  &:hover {
      background-color: lighten($black, 5%);
      color: $white;
  }
}


// Spotify button

.btn-spotify {
  background-color: $green-spotify;
  color: $white;
  
  &:hover {
    background-color: lighten($green-spotify, 5%);
    color: $white;
  }
}


//////////////////////////


// Input

.input {
  border: 1px solid $black;
  border-radius: 6px;
  display: inline-block;
  font-family: $font-body;
  font-size: 16px;
  font-weight: bold;
  padding: 16px;
  -webkit-appearance: none;
}
