// Colors


// Text

.text-black {
    color: $black;
}

.text-accent {
    color: $accent;
}

.text-white {
    color: $white;
}

.text-grey {
    color: $grey;
}


// Background

.bg-black {
    background-color: $black;
}

.bg-accent {
    background-color: $accent;
}

.bg-white {
    background-color: $white;
}

.bg-grey {
    background-color: $grey;
}


// Borders

.b-black {
    border-color: $black;
}

.b-accent {
    border-color: $accent;
}

.b-grey {
    border-color: $grey;
}
