//////////////////////////

// Colors

//////////////////////////


// Text

.text-black { color: $black; }
.text-white { color: $white; }
.text-grey { color: $grey; }
.text-red { color: $red; }
.text-blue { color: $blue; }


//////////////////////////


// Background

.bg-black { background-color: $black; }
.bg-white { background-color: $white; }
.bg-grey { background-color: $grey; }
.bg-red { background-color: $red; }
.bg-pink-light { background-color: $pink-light; }

//////////////////////////


// Borders

.b-black { border-color: $black; }
.b-grey { border-color: $grey; }
.b-white { border-color: $white; }
.b-red { border-color: $red; }
