// Column grid


// Wrapper

.col-group {
    @include clearfix;
}


// Base column class

.col {
    float: left;
    width: 100%;
}

.col-centered {
    float: none;
    margin-left: auto;
    margin-right: auto;
}


// Columns

// xs-up

@include breakpoint(xs-up) {
    .col-xs-1 { width: percentage(1/12); }
    .col-xs-2 { width: percentage(2/12); }
    .col-xs-3 { width: percentage(3/12); }
    .col-xs-4 { width: percentage(4/12); }
    .col-xs-5 { width: percentage(5/12); }
    .col-xs-6 { width: percentage(6/12); }
    .col-xs-7 { width: percentage(7/12); }
    .col-xs-8 { width: percentage(8/12); }
    .col-xs-9 { width: percentage(9/12); }
    .col-xs-10 { width: percentage(10/12); }
    .col-xs-11 { width: percentage(11/12); }
    .col-xs-12 { width: percentage(12/12); }
}


// sm-up

@include breakpoint(sm-up) {
    .col-sm-1 { width: percentage(1/12); }
    .col-sm-2 { width: percentage(2/12); }
    .col-sm-3 { width: percentage(3/12); }
    .col-sm-4 { width: percentage(4/12); }
    .col-sm-5 { width: percentage(5/12); }
    .col-sm-6 { width: percentage(6/12); }
    .col-sm-7 { width: percentage(7/12); }
    .col-sm-8 { width: percentage(8/12); }
    .col-sm-9 { width: percentage(9/12); }
    .col-sm-10 { width: percentage(10/12); }
    .col-sm-11 { width: percentage(11/12); }
    .col-sm-12 { width: percentage(12/12); }
}


// md-up

@include breakpoint(md-up) {
    .col-md-1 { width: percentage(1/12); }
    .col-md-2 { width: percentage(2/12); }
    .col-md-3 { width: percentage(3/12); }
    .col-md-4 { width: percentage(4/12); }
    .col-md-5 { width: percentage(5/12); }
    .col-md-6 { width: percentage(6/12); }
    .col-md-7 { width: percentage(7/12); }
    .col-md-8 { width: percentage(8/12); }
    .col-md-9 { width: percentage(9/12); }
    .col-md-10 { width: percentage(10/12); }
    .col-md-11 { width: percentage(11/12); }
    .col-md-12 { width: percentage(12/12); }
}


// lg-up

@include breakpoint(lg-up) {
    .col-lg-1 { width: percentage(1/12); }
    .col-lg-2 { width: percentage(2/12); }
    .col-lg-3 { width: percentage(3/12); }
    .col-lg-4 { width: percentage(4/12); }
    .col-lg-5 { width: percentage(5/12); }
    .col-lg-6 { width: percentage(6/12); }
    .col-lg-7 { width: percentage(7/12); }
    .col-lg-8 { width: percentage(8/12); }
    .col-lg-9 { width: percentage(9/12); }
    .col-lg-10 { width: percentage(10/12); }
    .col-lg-11 { width: percentage(11/12); }
    .col-lg-12 { width: percentage(12/12); }
}


// xl-up

@include breakpoint(xl-up) {
    .col-xl-1 { width: percentage(1/12); }
    .col-xl-2 { width: percentage(2/12); }
    .col-xl-3 { width: percentage(3/12); }
    .col-xl-4 { width: percentage(4/12); }
    .col-xl-5 { width: percentage(5/12); }
    .col-xl-6 { width: percentage(6/12); }
    .col-xl-7 { width: percentage(7/12); }
    .col-xl-8 { width: percentage(8/12); }
    .col-xl-9 { width: percentage(9/12); }
    .col-xl-10 { width: percentage(10/12); }
    .col-xl-11 { width: percentage(11/12); }
    .col-xl-12 { width: percentage(12/12); }
}


// Column offset

@include breakpoint(md-up) {
    .col-offset-md-4 { margin-left: percentage(4/12); }
}

@include breakpoint(lg-up) {
    .col-offset-lg-3 { margin-left: percentage(3/12); }
}

@include breakpoint(xl-up) {
    .col-offset-xl-2 { margin-left: percentage(2/12); }
}
