// Layout



// Display

.display-block {
    display: block;
}

.display-inline {
    display: inline;
}

.display-inline-block {
    display: inline-block;
}

.display-none {
    display: none;
}


// Opacity

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
}


// Max width

.max-width {
    margin-left: auto;
    margin-right: auto;
}

.max-width-xs {
    max-width: $media-xs;
}

.max-width-sm {
    max-width: $media-sm;
}

.max-width-md {
    max-width: $media-md;
}

.max-width-lg {
    max-width: $media-lg;
}

.max-width-xl {
    max-width: $media-xl;
}


// Borders

.b-t {
    border-top-style: solid;
    border-top-width: 1px;
}

.b-l {
    border-left-style: solid;
    border-left-width: 1px;
}

.b-b {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}


.b-r {
    border-right-style: solid;
    border-right-width: 1px;
}


// Positioning

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.position-fixed {
    position: fixed;
    top: 0;
    z-index: 100;
    display: block;
}

@include breakpoint(md-up) {
    .position-fixed-md-up {
        position: fixed;
        top: 0;
        bottom: 0;
        overflow-y: auto;
        z-index: 100;
        display: block;
    }
}


// Width

.width-100 {
    width: 100%;
}


// Images

.post-body img {
    max-width: 100%;
    max-height: 600px;
}

// Videos


// Horizontal video
.video-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    margin-top: $space;
    margin-bottom: $space;
    
    iframe {
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }
}

// Square videos
.video-square {
    overflow:hidden;
    padding-bottom:100%;
    position:relative;
    height:0;
    margin-top: $space;
    margin-bottom: $space;
    
    iframe {
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }
}


// Vertical videos
.video-vertical {
    overflow:hidden;
    padding-bottom: 156.25%;
    position:relative;
    height:0;
    margin-top: $space;
    margin-bottom: $space;
    
    iframe {
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;
    }
}