//////////////////////////

// Layout

//////////////////////////


// Display

.display-block { display: block; }
.display-inline { display: inline; }
.display-inline-block { display: inline-block; }
.display-none { display: none; }
.display-flex { display: flex; }
.display-inline-flex { display: inline-flex; }

@include breakpoint(sm-up) {
  .display-sm-none { display: none; }
  .display-sm-block { display: block;}
}

@include breakpoint(lg-up) {
  .display-lg-flex { display: flex; }
}

//////////////////////////


// Flexbox

.flex-align-items-center { align-items: center; }
.flex-align-self-flex-start { align-self: flex-start; }
.flex-justify-content-center { justify-content: center; }
.flex-justify-content-space-between { justify-content: space-between; }
.flex-wrap-wrap { flex-wrap: wrap; }
.flex-direction-row { flex-direction: row; }
.flex-direction-column { flex-direction: column; }

@include breakpoint(md-up) {
  .flex-align-items-md-center { align-items: center; }
  .flex-align-self-md-flex-start { align-self: flex-start; }
  .flex-justify-content-md-center { justify-content: center; }
  .flex-justify-content-md-space-between { justify-content: space-between; }
  .flex-wrap-md-wrap { flex-wrap: wrap; }
  .flex-direction-md-row { flex-direction: row; }
  .flex-direction-md-column { flex-direction: column; }
}

@include breakpoint(lg-up) {
  .flex-align-items-lg-center { align-items: center; }
  .flex-align-self-lg-flex-start { align-self: flex-start; }
  .flex-justify-content-lg-center { justify-content: center; }
  .flex-justify-content-lg-space-between { justify-content: space-between; }
  .flex-wrap-lg-wrap { flex-wrap: wrap; }
  .flex-direction-lg-row { flex-direction: row; }
  .flex-direction-lg-column { flex-direction: column; }
}


//////////////////////////


// Max width

.max-width-xs { max-width: $media-xs; }
.max-width-sm { max-width: $media-sm; }
.max-width-md { max-width: $media-md; }
.max-width-lg { max-width: $media-lg; }
.max-width-xl { max-width: $media-xl; }


//////////////////////////


// Lists

.list-unstyled {
  list-style-type: none;
  padding-left: 0;
}

.list-inline {
  display: inline-flex;
  flex-wrap: wrap;
}


//////////////////////////


// Utilities

.overflow-hidden { overflow: hidden; }
.width-100 { width: 100%; }
.hidden { opacity: 0; }
.visible { opacity: 1; }


//////////////////////////


// Borders

.b-t {
    border-top-style: solid;
    border-top-width: 1px;
}

.b-l {
    border-left-style: solid;
    border-left-width: 1px;
}

.b-b {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.b-r {
    border-right-style: solid;
    border-right-width: 1px;
}
