//////////////////////////

// Links

//////////////////////////


.link-black {
	color: $black;
	text-decoration: underline;

	&:hover {
		color: $blue;
	}
}

.link-grey {
	color: $grey;
	text-decoration: underline;

	&:hover {
		color: $black;
	}
}

.link-white {
	color: $white;
	text-decoration: underline;

	&:hover {
		opacity: 0.8;
	}
}

.link-red {
	color: $red;
	text-decoration: underline;

	&:hover {
		color: $black;
	}
}

.link-selected {
	background-color: $red;
	color: $white;
	padding: 2px;
	text-decoration: none;

	&:hover {
		color: $white;
		text-decoration: underline;
	}
}