//////////////////////////

// Typography

//////////////////////////


// Type styles

.text-display {
	font-family: $font-body;
	font-size: 24px;
	font-weight: bold;
	line-height: 1.2;

	@include breakpoint(md-up) {
		font-size: 36px;
	}
}

.text-body {
	font-family: $font-body;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.2;

	@include breakpoint(md-up) {
		font-size: 18px;
	}
}

.text-accent {
	font-family: $font-body;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.2;

	@include breakpoint(md-up) {
		font-size: 14px;
	}
}


//////////////////////////


// Utilities

.text-strong { font-weight: bold; }
.text-uppercase { text-transform: uppercase; }

.text-line-height-loose { line-height: 1.5; }

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }


//////////////////////////


// CMS text

.text-cms {

	h1 {
		font-family: $font-body;
		font-size: 28px;
		font-weight: bold;
		line-height: 1.2;

		@include breakpoint(md-up) {
			font-size: 36px;
		}
	}

	h2, h3, h4, h5, h6 {
		font-family: $font-body;
		font-size: 16px;
		line-height: 1.2;

		@include breakpoint(md-up) {
			font-size: 18px;
		}
	}

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: $space * 1;
	}

	ol, ul, p {
		margin-bottom: $space * 2;
	}

	ul, ol {
		list-style-type: none;
	  padding-left: 0;
	}

	a {
		color: $black;
		text-decoration: underline;

		&:hover {
				color: $blue;
		}
	}
}
