<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    <div class="max-width-xl ml-xs-auto mr-xs-auto mt-xs-4 mt-md-6 mb-xs-4 mb-md-6 pl-xs-3 pr-xs-3 pl-md-6 pr-md-6">
      {{ content }}
    </div>

    <footer class="display-flex flex-direction-column flex-direction-md-row flex-justify-content-md-space-between text-body text-grey max-width-xl ml-xs-auto mr-xs-auto mt-xs-6 mb-xs-4 pl-xs-3 pr-xs-3 pl-md-6 pr-md-6">
      <div>
        &copy; {{ "today" | date: "%Y" }} Ronin Wood - <a href="mailto:hi@roninwood.com?subject=Ronin I think your work is very very good" class="link-grey">Send me an email</a>!
      </div>
      <div class="mt-xs-3 mt-md-0">
        <a href="#" class="link-grey">Back to top</a>
      </div>
    </footer>

    <script src="https://getinsights.io/static/js/insights.js"></script>
    <script src="https://player.vimeo.com/api/player.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://rawgit.com/protonet/jquery.inview/master/jquery.inview.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@15.2.0/dist/lazyload.min.js"></script>
    <script
      type="text/javascript"
      src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"
    ></script>

    {% unless page.layout == post %}
      <script>
        var lazyLoadInstance = new LazyLoad({
          elements_selector: ".lazyload",
          use_native: true,
        });
      </script>

      <script>
        $(".video-square").Lazy({
          // your configuration goes here
          scrollDirection: "vertical",
          effect: "fadeIn",
          visibleOnly: true,
          afterLoad: function (element) {
            console.log("loaded");
          },
          onError: function (element) {
            console.log("error loading " + element.data("src"));
          },
        });
      </script>
      <script>
        $("frame").attr("allow", "autoplay;");
        _u = _.noConflict();

        var players = [];
        $('[class*="video"]').each(function (i, item) {
          const iframe = $(this).find("iframe").get(0);
          if (iframe.src.includes("vimeo")) {
            players.push({
              player: new Vimeo.Player($(this).find("iframe").get(0)),
              top: $(this).position().top,
              status: "paused",
              element: $(this),
            });
            $(this).on(
              "inview",
              _u.debounce((_, isInView) => {
                const player = new Vimeo.Player($(this).find("iframe").get(0));
                player.ready().then(function () {
                  player.setVolume(0);
                });
                if (isInView) {
                  player.play();
                } else {
                  player.pause();
                }
              }, 1000)
            );
          }
        });
      </script>
    {% endunless %}
    <script>
      insights.init("Viob5DKsACO2rGjn");
      insights.trackPages();
    </script>
  </body>
</html>
