<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>

        {% include header.html %}

        <div class="width-100 col-group mt-xs-2 mt-md-4 mb-xs-2 mb-md-4">

            <div class="position-fixed-md-up col col-md-4 col-lg-3 col-xl-2 p-xs-1 p-sm-2 p-md-4">
                <a href="/" class="display-block mb-xs-1"><img src="/assets/img/ronin-90.png" alt="Ronin Iftahk Wood" style="width: 100%; max-width: 200px;"></a>
                <p class="mb-xs-2 mb-md-4">Designer & art&nbsp;director</p>

                {% include tags.html %}

                <p class="mt-xs-2 mt-md-4"><strong>Contact</strong></p>
                <ul class="list-unstyled list-inline-sm-down mb-xs-4">
                    <li>
                        <a href="Ronin_wood_resume_2017.pdf" target="_blank">Resume</a>
                    </li>
                    <li>
                        <a href="http://www.timespent.biz" target="_blank">TIMESPENT</a>
                    </li>
                    <li>
                        <a href="http://www.twitter.com/roninwood" target="_blank">Twitter</a>
                    </li>
                    <li>
                        <a href="https://dribbble.com/RoninWood" target="_blank">Dribbble</a>
                    </li>
                    <li>
                        <a href="assets/img/buzz.gif" target="_blank">Google Buzz</a>
                    </li>
                    <li>
                        <a href="mailto:roninwood@gmail.com?subject=Ronin I think your work is very very good">Email</a>
                    </li>
                </ul>
                
                <p class="mb-xs-4">&copy; 2018</p>
            </div>

            <div class="col col-md-8 col-offset-md-4 col-lg-9 col-offset-lg-3 col-xl-10 col-offset-xl-2 text-center">
                {{ content }}
            </div>
        </div>

        {% include footer.html %}

    </body>

</html>
