<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>

        <div class="width-100 col-group mt-xs-2 mt-md-4 mb-xs-2 mb-md-4">

            <div class="position-fixed-md-up col col-md-4 col-lg-3 col-xl-2 p-xs-1 p-sm-2 p-md-4">
                <a href="/" class="display-block mb-xs-1"><img src="/assets/img/ronin-90.png" alt="Ronin Iftahk Wood" style="width: 100%; max-width: 100px;"></a>
                <p class="mb-xs-1">Designer & art&nbsp;director</p>

                <p class="text-smaller mb-xs-2 mb-md-4">Designer at <a href="https://starry.com">Starry</a>,<br> <a class="animated-blink animated-loop" href="mailto:hi@roninwood.com?subject=Ronin I think your work is very very good">Send me an email today!</a></p>

                {% include tags.html %}

                <p class="strong mt-xs-2 mt-md-4 mb-xs-1"><a href="/playlists">Playlists</a></p>
                <p class="strong mt-xs-1 mb-xs-2 mb-md-4"><a href="/about">About</a></p>
                
                <p class="mb-xs-4">&copy; 2018</p>
            </div>

            <div class="col col-md-8 col-offset-md-4 col-lg-9 col-offset-lg-3 col-xl-10 col-offset-xl-2">

                {{ content }}
            
            </div>
        </div>
        <!-- Chatra {literal} -->
<script>
    (function(d, w, c) {
        w.ChatraID = 'C84a9oSEELd6EBC6M';
        var s = d.createElement('script');
        w[c] = w[c] || function() {
            (w[c].q = w[c].q || []).push(arguments);
        };
        s.async = true;
        s.src = 'https://call.chatra.io/chatra.js';
        if (d.head) d.head.appendChild(s);
    })(document, window, 'Chatra');
</script>
<!-- /Chatra {/literal} -->

<script src="https://getinsights.io/static/js/insights.js"></script>
<script>
insights.init('Viob5DKsACO2rGjn');
insights.trackPages();
</script>

    </body>

</html>
